.form{
    @apply flex flex-col gap-2 items-center 
}
.input{
    @apply border-solid border-[2px] border-gray-500 p-2 rounded sm:w-[60%] w-full 
}
.Btn{
    @apply border-solid border-[3px]  border-pink-910 !bg-pink-910 hover:!bg-pink-920 hover:border-pink-920 hover:transition-all hover:duration-300  sm:p-2 p-1 rounded sm:w-28 w-24 sm:text-base text-sm text-center font-semibold text-white 
}
.coml{
    color: #b335ae;
}
.error{
    @apply text-red-600 flex justify-start font-semibold text-sm 
}
.btn-remove{
    width: 1rem;
    height: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: .9rem;
    right: 0.5rem;
    border-radius: 50%;
}
